{{#get "pages" slug="about" as |about|}}
    {{#about}}
        <div class="p-4 flex flex-col rounded-xl bg-zinc-900/70 sm:max-lg:flex-row lg:h-fit lg:p-6">
            <div class="w-40 h-40 shrink-0 lg:w-auto lg:h-auto sm:max-lg:mr-4 mx-auto">
                <picture>
                    <source 
                        srcset="
                        {{img_url feature_image size="xxs" format="avif"}} 30w,
                        {{img_url feature_image size="xs" format="avif"}} 100w,
                        {{img_url feature_image size="s" format="avif"}} 300w,
                        {{img_url feature_image size="m" format="avif"}} 600w,
                        {{img_url feature_image size="l" format="avif"}} 1200w,
                        {{img_url feature_image size="xl" format="avif"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        type="image/avif"
                        {{^if @first}}loading="lazy"{{/if}}
                    >
                    <source 
                        srcset="
                        {{img_url feature_image size="xxs" format="webp"}} 30w,
                        {{img_url feature_image size="xs" format="webp"}} 100w,
                        {{img_url feature_image size="s" format="webp"}} 300w,
                        {{img_url feature_image size="m" format="webp"}} 600w,
                        {{img_url feature_image size="l" format="webp"}} 1200w,
                        {{img_url feature_image size="xl" format="webp"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        type="image/webp"
                        {{^if @first}}loading="lazy"{{/if}}

                    >
                    <img
                        srcset="
                        {{img_url feature_image size="xxs"}} 30w,
                        {{img_url feature_image size="xs"}} 100w,
                        {{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1200w,
                        {{img_url feature_image size="xl"}} 2000w"
                        {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                        src="{{img_url feature_image size="m"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                        class="rounded-xl"
                        loading="lazy"
                    >
                </picture>
            </div>
            <p id="lame-excerpt" class="pt-4">{{excerpt}} <a class="font-bold text-nowrap" href="/about/">Learn more {{> "icons/solid-arrow-right" classname="size-4 inline stroke-2"}}</a></p>
        </div>

        {{!-- Script to format any mentions of "lamemakes" in the about excerpt with the logo class, hack because can't put HTML in an excerpt --}}
        <script>
            let excerptHTML = document.getElementById("lame-excerpt").innerHTML;
            document.getElementById("lame-excerpt").innerHTML = excerptHTML.replace("lamemakes", "<span class=\"logo\">lamemakes</span>");
        </script>
    {{/about}}
{{/get}}