{{#if isSecondary}}
    <ul class="flex justify-between" role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <nav id="nav" class="grid z-10 grid-cols-6 justify-between mx-8 w-full max-w-6xl text-3xl font-bold md:flex md:flex-row">
        <div class="col-span-1 md:hidden min-h-16"></div>
        <div id="logo" class="col-span-4 my-auto mx-0 text-center transition-all md:text-left nav-item">
            {{log url}}
            <a href="{{@site.url}}" class="logo">
                {{@site.title}}
            </a>
        </div>
        <!-- Attempt at a no-js togglable mobile menu, not really sure how it does accessibility wise though? -->
        <input type="checkbox" id="nav-checkbox" aria-label="Toggle menu" class="absolute opacity-0 md:hidden">
        <label for="nav-checkbox" id="nav-toggle" class="flex justify-end my-auto md:hidden">
            <div id="open-menu">{{> "icons/solid-bars-3" classname="size-8"}}</div>
            <div id="close-menu" class="hidden">{{> "icons/solid-x-mark" classname="size-8"}}</div>
        </label>
        <ul class="flex overflow-hidden col-span-6 justify-center max-h-0 md:max-h-full nav-menu">
            {{#foreach navigation}}
                <li id="{{slug}}" class="invisible px-4 pb-2 text-2xl transition-all md:visible md:p-4 nav-item{{#if current}} nav-current{{/if}}" role="menuitem">
                    <a href="{{url absolute="true"}}">{{label}}</a>
                </li>
            {{/foreach}}
            <li id="site-search" class="invisible px-4 pb-2 my-auto transition-all md:visible md:p-4 nav-item">
                <button data-ghost-search>{{> "icons/solid-search" title="Search the site" classname="size-6"}}</button>
            </li>
        </ul>
    </nav>
    <script>
        {{!-- 
            All others paths outside of those defined in
            the array below are the only slugs that wouldn't
            be a blog post or blog view.

            Not ideal but ¯\_(ツ)_/¯
        --}}
        const notBlog = ["/", "/pics/", "/about/"]
        const blogNav = document.getElementById("blog")
        const current = "nav-current"
        if(!notBlog.includes(location.pathname) && blogNav){
            blogNav.classList.add(current)
        } else {
            blogNav.classList.remove(current)
        }
    </script>
{{/if}}
