{{#if isSecondary}}
    <ul class="nav" role="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}" role="menuitem">
                <a href="{{url}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{else}}
    <nav id="nav" class="flex z-10 flex-row justify-between mx-8 w-full max-w-6xl text-3xl font-bold">
        <div id="logo" class="my-auto mx-auto transition-all md:mx-0 nav-item">
            <a href="{{@site.url}}" class="logo">
                {{@site.title}}
            </a>
        </div>
        <div class="hidden md:flex md:my-auto">
            <ul class="nav">
                {{#foreach navigation}}
                    <li class="{{link_class for=(url) class=(concat "nav-" slug)}} nav-item transition-all" role="menuitem">
                        <a href="{{url absolute="true"}}">{{label}}</a>
                    </li>
                {{/foreach}}
            </ul>
            <div id="site-search" class="hidden pl-4 my-auto transition-all nav-item">
                <button data-ghost-search>{{> "icons/solid-search" title="Search the site" classname="size-6"}}</button>
            </div>
        </div>
    </nav>
{{/if}}