{{!--
Re-usable card for linking to posts
--}}

<article class="p-4 rounded-xl mb-4 self-center min-w-80 w-full lg:p-6 lg:max-w-full lg:last:mb-0 bg-zinc-900/70">
    <a class="flex flex-col text-center justify-center sm:text-left sm:flex-row" href="{{url}}">
      <div class="w-40 h-40 shrink-0 mx-auto sm:mr-6">
        <picture>
          <source 
            srcset="
            {{img_url feature_image size="xxs" format="avif"}} 30w,
            {{img_url feature_image size="xs" format="avif"}} 100w,
            {{img_url feature_image size="s" format="avif"}} 300w,
            {{img_url feature_image size="m" format="avif"}} 600w,
            {{img_url feature_image size="l" format="avif"}} 1200w,
            {{img_url feature_image size="xl" format="avif"}} 2000w"
            {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
            type="image/avif"
            {{^if @first}}loading="lazy"{{/if}}
          >
          <source 
            srcset="
            {{img_url feature_image size="xxs" format="webp"}} 30w,
            {{img_url feature_image size="xs" format="webp"}} 100w,
            {{img_url feature_image size="s" format="webp"}} 300w,
            {{img_url feature_image size="m" format="webp"}} 600w,
            {{img_url feature_image size="l" format="webp"}} 1200w,
            {{img_url feature_image size="xl" format="webp"}} 2000w"
            {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
            type="image/webp"
            {{^if @first}}loading="lazy"{{/if}}

          >
          <img
            srcset="
            {{img_url feature_image size="xxs"}} 30w,
            {{img_url feature_image size="xs"}} 100w,
            {{img_url feature_image size="s"}} 300w,
            {{img_url feature_image size="m"}} 600w,
            {{img_url feature_image size="l"}} 1200w,
            {{img_url feature_image size="xl"}} 2000w"
            {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
            src="{{img_url feature_image size="m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            class="object-cover object-center h-full w-full rounded-xl"
            {{^if @first}}loading="lazy"{{/if}}
          >
        </picture>
      </div>
      <div class="w-full">
        <div class="flex justify-between">
          <h2 class="text-3xl font-semibold w-full sm:w-auto">{{title}}</h2>
          {{!-- Ugly way to select all but pics but seems to be the only way? --}}
          {{#has tag="art, ongoing, completed, hardware, software, researching, scrapped, rant"}}
            <div class="hidden sm:flex text-nowrap" title="~{{reading_time minute="1 minute" minutes="% minute"}} read time">
              {{> "icons/outline-clock" classname="size-6 inline pr-1"}}{{reading_time minute="1 min" minutes="% min"}}
            </div>
          {{/has}}
        </div>
        <span class="text-sm"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time></span>
        <p class="text-heading-color">{{excerpt}}</p>
        <div class="text-sm font-semibold mt-2">
          {{#if tags}}
            {{#foreach tags}}
              <button class="px-2.5 py-0.5 mx-0.5 tag tag-{{slug}}">{{name}}</button>
            {{/foreach}}
          {{/if}}
        </div>
      </div>
    </a>
</article>
