{{!< default}}

{{#post}}

<article class="my-4 max-w-6xl rounded-xl px-6 py-4 lg:px-16 lg:py-6 bg-zinc-900/70 {{post_class}}">

    <header>
        <h1 class="mb-2 text-4xl md:text-5xl font-extrabold text-center">{{title}}</h1>
        <p class="w-full text-center">
            <span>
                {{> "icons/solid-calendar" classname="size-5 inline mb-1"}}
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                <span class="bull">&bull;</span> 
                {{reading_time}}
            </span>
        </p>
    </header>

    <div class="my-4 mx-auto w-4/5 rounded-full divide-solid border-y-2 border-font-color"></div>

    <div id="post-content" class="mx-auto prose prose-li:my-0 prose-figcaption:text-center md:prose-li:my-2 prose-headings:text-center prose-headings:text-heading-color prose-li:text-font-color">
        {{content}}
    </div>

</article>

{{!-- <aside class="">
    <div class="gh-readmore-inner gh-container">
        <div class="">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside> --}}

{{/post}}
<script>
    const galleryImages = Array.from(document.getElementsByClassName("kg-gallery-image"));
    galleryImages.forEach((imageWrapper) => {
        const image = Array.from(imageWrapper.children)[0];
        const anchor = document.createElement("a");
        anchor.href = image.src;
        anchor.target = "_blank";
        image.replaceWith(anchor);
        anchor.appendChild(image);
    })
</script>