{{!< default}}

{{#post}}

<article class="rounded-xl px-6 py-4 lg:px-16 lg:py-6 bg-zinc-900/70 {{post_class}}">

    <header class="flex flex-col items-center">
        <h1 class="mb-2 text-4xl md:text-5xl font-extrabold">{{title}}</h1>
        <p class="font-bold">
            <span>
                {{> "icons/solid-calendar" classname="size-5 inline mb-1"}}
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                <span class="bull px-1">&bull;</span> 
                {{reading_time}}
            </span>
        </p>
    </header>

    <div class="my-4 mx-auto w-4/5 rounded-full divide-dashed border-t-[1px] border-b-2 border-primary-color"></div>

    <div id="post-content" class="mx-auto prose prose-li:my-0 prose-figcaption:text-center md:prose-li:my-[0.1rem] prose-headings:my-3 prose-headings:text-heading-color prose-li:text-font-color prose-a:text-primary-color prose-a:no-underline prose-a:font-bold prose-p:leading-[1.5rem] prose-ul:mt-[-1rem]">
        {{content}}
    </div>

</article>

{{!-- <aside class="">
    <div class="gh-readmore-inner gh-container">
        <div class="">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside> --}}

{{/post}}
<script>
    const galleryImages = Array.from(document.getElementsByClassName("kg-gallery-image"));
    galleryImages.forEach((imageWrapper) => {
        const image = Array.from(imageWrapper.children)[0];
        const anchor = document.createElement("a");
        anchor.href = image.src;
        anchor.target = "_blank";
        image.replaceWith(anchor);
        anchor.appendChild(image);
    })
</script>