{{!< default}}

{{#post}}

<article class="{{post_class}}">

    <header class="flex flex-col items-center">
        <h1 class="mb-2 text-4xl font-extrabold md:text-5xl">{{title}}</h1>
        <p class="font-bold">
            <span>
                {{> "icons/solid-calendar-days" classname="size-5 inline mb-1"}}
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time>
                <span class="px-1 bull">&bull;</span>
                {{> "icons/solid-clock" classname="size-5 inline mb-1"}}
                {{reading_time}}
            </span>
        </p>
    </header>

    <div class="my-4 mx-auto w-4/5 rounded-full border-b-2 border-t-[1px]"></div>

    {{> "post-content" content=content}}

</article>

{{!-- <aside class="">
    <div class="gh-readmore-inner gh-container">
        <div class="">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside> --}}

{{/post}}
<script>
    const galleryImages = Array.from(document.getElementsByClassName("kg-gallery-image"));
    galleryImages.forEach((imageWrapper) => {
        const image = Array.from(imageWrapper.children)[0];
        const picPreview = document.createElement("button");

        picPreview.onclick = () => {
            let lightbox = basicLightbox.create(image.outerHTML);
            lightbox.show();
            document.body.addEventListener('keydown', (e) => {
                if (e.key === "Escape") lightbox.close()
            })
        }

        image.replaceWith(picPreview);
        picPreview.appendChild(image);
    })
</script>